# Vector Database Configuration
VECTOR_DB_TYPE=chroma
VECTOR_DB_URL=work/chroma_db
VECTOR_DB_COLLECTION_NAME=sample_collection

# LLM Provider Configuration
LLM_PROVIDER=openai

# OpenAI Configuration
OPENAI_API_KEY=
OPENAI_COMPLETION_MODEL=gpt-4o
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
# OPENAI_BASE_URL=

# Azure OpenAI Configuration (only if LLM_PROVIDER=azure_openai)
# AZURE_OPENAI_API_VERSION=
# AZURE_OPENAI_ENDPOINT=
