python-dotenv
pydantic


# For Langchain
langchain
langchain-openai
langchain-community
langchain-chroma
langchain-postgres
chroma-hnswlib
chromadb


# For API
fastapi
# For MCP
fastmcp

# misc
tqdm
pandas
openpyxl
xlsxwriter

# sqlite
aiosqlite

